.CardNine {
    border: #E4E8EC 1px solid;
    display: flex;
    min-height: 245px;
    max-height: 245px;
}

.CardNine:hover{
    text-decoration: none !important;
}

.CardNine .UpcomingEventImg{
    width: 190px;
    background-color: #E4E8EC;
}

.CardNine .UpcomingEventContents {
    padding: 20px;
    width: 57%;
    position: relative;
}


.CardNine .UpcomingEventContents .EventCardTitle{
    font-size: 20px;
    font-weight: 700;
    color: #0B132B;
    margin: 0;
}

.CardNine .UpcomingEventImg img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.CardNine .GreenText{
    color: #56B149 !important;
}

.CardNine .UpcomingEventContents .EventCardSubTitle{
    font-size: 24px;
    font-weight: 700;
    color: #0B132B;
    margin-top: 20px;
}

.CardNine .UpcomingEventContents .EventCardSubText{
    font-size: 14px;
    font-weight: 400;
    color: #676C7B;
    margin-top: 10px;
}

.CardNine .UpcomingEventCardContainer{
    text-decoration: none !important;
}

.CardNine .UpcomingEventCardContainer h1{
    text-decoration: none !important;
}

.CardNine .UpcomingEventCardContainer p{
    text-decoration: none !important;
}

.CardNine .UpcomingEventCardContainer span{
    text-decoration: none !important;
}

@media(max-width:600px){
    .CardNine {
        display: block;
        min-height: initial;
        max-height: initial;
    }

    .CardNine .UpcomingEventImg {
        width: 100%;
    }

    .CardNine .UpcomingEventContents .EventCardSubText {

        margin-bottom: 21px;
    }

   
}