.MuiAccordionSummary-root.Mui-expanded{
    border-bottom: #ccc 1px solid;
}

.AccordionOneMainContainer .AccordionOneIcon{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.AccordionOneMainContainer .AccordionOneTitle{
    display: flex;
}