.CardFourMainContainer {
    width: 730px;
    height: 100%/*158px*/;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E4E8EC;
    opacity: 1;
    cursor: pointer;
    padding: 16px;
    display: inline-block;
}

.CardFourMainContainer:hover {
    box-shadow: 0px 12px 17px #00000017;;
    transition: all 1s ease 0s;
}

.CardFourRow {
    display: flex;
}
  
.CardFourLeftColumn {
    height: 100%;
    flex: 20%;
}

.CardFourRightColumn {
    flex: 80%;
    border-left: 1px solid #E4E8EC;
}

.CardFourEventDate {
    text-align: left;
    font: normal normal bold 20px/24px Poppins;
    letter-spacing: 0px;
    color: #56B149;
    opacity: 1;
    padding-right: 8px;
    margin: 0px;
}

.CardFourRightColumnContainer {
    margin-left: 16px;
}

.CardFourTitle {
    text-align: left;
    font: normal normal 600 26px/30px Poppins;
    letter-spacing: 0px;
    color: #0B132B;
    opacity: 1;
    margin: 0px;
    padding-bottom: 8px;
}

.CardFourMainContainer:hover .CardFourTitle {
    color: #56B149;
    transition: all 1s ease 0s;
}

.CardFourEventTime {
    text-align: left;
    font: normal normal normal 14px/20px Poppins;
    letter-spacing: 0px;
    color: #676C7B;
    text-transform: uppercase;
    opacity: 1;
    margin: 0px;
    padding-bottom: 12px;
}

.CardFourEventTime span {
    color: #E4E8EC;
    opacity: 1;
}

.CardFourReadMoreText {
    color: hsl(0, 0%, 20%);
    display: flex;
    font: normal normal bold 14px/24px Poppins;
    text-align: left;
    width: 120px;
    text-decoration: none;
    align-items: center;
    color: #444444; 
}

.CardFourReadMoreText svg{
    font: normal normal bold 14px/24px Poppins;
	margin-left: 4px;
}

.CardFourMainContainer:hover .CardFourReadMoreText {
    color: #56B149;
    transition: all 1s ease 0s;
}