.FieldPasswordMainContainer {
    position: relative;
}

.FieldPasswordMainContainer .inputHover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
    border-color: #E4E8EC;
    border-width: 2px;
}
.FieldPasswordMainContainer .inputHover:hover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #E4E8EC;
    border-width: 2px;
}
.FieldPasswordMainContainer .inputHover .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #2A8853;
    border-width: 2px;
}
.FieldPasswordMainContainer .inputHover .MuiOutlinedInput-input{
    color: #1B2121;
    border-width: 2px;
}
.FieldPasswordMainContainer .inputHover .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input{
    color: #1B2121;
    border-width: 2px;
}
.FieldPasswordMainContainer .inputHover .MuiInputLabel-outlined{
    color: #B0B9C1;
    border-width: 2px;  
}
.FieldPasswordMainContainer .inputHover:hover .MuiInputLabel-outlined {
    color: #B0B9C1;
    border-width: 2px;
}
.FieldPasswordMainContainer .inputHover .MuiInputLabel-outlined.Mui-focused{
    color: #2A8853;
    border-width: 2px;
}
.FieldPasswordMainContainer .inputHover .MuiFormHelperText-root{
    position: absolute;
    bottom: -37px;
}
.FieldPasswordMainContainer .inputHover .MuiOutlinedInput-input{
    padding: 18.5px 14px;
}




