.CardSixteen {
    border: #E4E8EC 1px solid;
    display: flex;
    align-items: center;
}

.CardSixteen:hover{
    text-decoration: none !important;
}

.CardSixteen .CardSixteenImg {
    min-width: 350px;
    height: 196px;
    background-color: #E4E8EC;
    position: relative;
}



.CardSixteen .CardSixteenImg img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.CardSixteen .CardSixteenContents{
    padding: 20px;
    
}

.CardSixteen .CardSixteenDate{
    font-size: 14px;
    font-weight: 400;
    color: #0B132B;
    margin: 0;
}

.CardSixteen .CardSixteenTitle{
color: #1B2121;
font-size: 20px;
font-weight: 700;
line-height: 30px;
margin-top: 12px;
}

.CardSixteen .CardSixteenReadmore{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    margin-top: 13px;
}

.CardSixteen .CardSixteenReadmore svg{
    font-size: 18px;
    margin-left: 5px;
    position: relative;
    top: 2px;
}


.CardSixteen .VideoCardOnehover_over {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: #000;
    position: absolute;
    left: 0;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0;	
    
}

.CardSixteen:hover .VideoCardOnehover_over{
	opacity: 0.5;	
}

.CardSixteen .videoIcon{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: absolute;
    left: 0;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    
}

.CardSixteen:hover .videoIcon{
    opacity: 1;
}

.CardSixteen .videoIcon svg{
    font-size: 35px;
}


@media(max-width:768px){
    .CardSixteen {
        display: block;
    }

    .CardSixteen .CardSixteenImg {
        min-width: initial;
        width: 100%;
    }
   
}