.SliderSeven{
    display: flex; 
    margin-right: 8px;
    position: relative;
    width: 100%; 
}

.SliderSeven .MainBannerInner{
    width: 100%;
    height: 100%;
}

.SliderSeven .BannerText {
    position: absolute;
    z-index: 999;
    right: 0;
    padding: 40px;
    top: 0;
    bottom: 0;
    width: 45%;
}

.SliderSeven .BannerText h3{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 0;

}


.SliderSeven .BannerText h2{
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;

}

.SliderSeven .BannerText .bannerDescrition{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    max-width: 600px;
    font-family: 'Poppins', sans-serif;

}

.SliderSeven .bannerSteps {
    position: relative;
    right: 0;
    bottom: 0px;
    background: transparent;
    padding: 0;
    z-index: 12;
    width: 100px;
    margin: 0 auto;
}

.SliderSeven .bannerSteps .MuiButtonBase-root{
    width: 34px;
    height: 34px;
    min-width: 34px !important;
    border: #fff 1px solid;
}

.SliderSeven .BannerImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.SliderSeven .BannerImgContainer{
    position: relative;
}

.SliderSeven .BannerImgContainer::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.3;
    z-index: 10;
    
}

.SliderSeven .BannerLinkButton{
    width: 152px;
    height: 50px;
    background: #FFFFFF33 0% 0% no-repeat padding-box !important;
    border: 1px solid #56B149 !important;
    border-radius: 4px;
    opacity: 1;
    margin-top: 32px !important;
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.SliderSeven .BannerLinkButton:hover{
    background: #56B149;
    border: 1px solid #56B149;
    
}

.SliderArrobody {
    position: absolute;
    height: 46px;
    width: 100%;
    bottom: 0;
    text-align: center;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SliderArrobody span{
    display: flex;
}

.react-swipeable-view-container div:first-child{
    overflow: hidden;
} 

@media (max-width: 768px) {

    .SliderSeven .BannerText {
        position: absolute;
        z-index: 999;
        right: 0;
        padding: 16px;
        top: initial;
        bottom: 0;
        width: 93%;
        height: 200px;
    }

    .SliderSeven .BannerText h2 {
        font-size: 14px;
    }

    .SliderSeven .BannerText .bannerDescrition {
        font-size: 13px;
    }

 
}