.CardEight{
   
}

.CardEight .UcomingEvents_col{
    border: #E4E8EC 1px solid;
    position: relative;
}

.CardEight .UcomingEvents_col{
    display: flex;
}

.CardEight .UcomingEvents_col .events_img{
position: relative;
}

.CardEight .UcomingEvents_col .events_img img{
    object-fit:cover;
    width: 100%;
    height: 100%;
}

.CardEight .UcomingEvents_col .events_details {
    padding: 24px;
}
.CardEight .UcomingEvents_col .events_details h2{
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #0B132B;
    margin-bottom: 24px;
}

.CardEight .UcomingEvents_col .events_details .eventLocation{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #676C7B;
    display: flex;
    margin-bottom: 17px;
}

.CardEight .UcomingEvents_col .events_details .eventLocation svg{
    margin-right: 10px;
    font-size: 20px;
    color: #676C7B;
}

.CardEight .UcomingEvents_col .event_detail_pop {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 999;
    opacity: 0;
}

.CardEight .UcomingEvents_col:hover  .event_detail_pop{
    opacity: 1;
}

.CardEight .UcomingEvents_col .event_detail_pop .blue_bg {
    background: #0053a5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.92;
    left: 0;
    z-index: 99;
}

.CardEight .UcomingEvents_col .event_detail_pop a {
    background: #fff;
    border-radius: 2px;
    color: #0B132B;
    display: flex;
    left: 37%;
    letter-spacing: 0.56px;
    position:relative;
    text-align: center;
    text-transform: uppercase;
    top: 43%;
    z-index: 999;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    height: 50px;
    justify-content: center;
    align-items: center;
    max-width: 196px;
}

.CardEight .UcomingEvents_col .events_img .EventcardSocialIcon{
    position: absolute;
    bottom: 5px;
    right: 13px;
}

.CardEight .UcomingEvents_col .events_img .EventcardSocialIcon a img{
    width: 34px;
    margin-left:10px;
}

@media (max-width: 768px){
    .CardEight .UcomingEvents_col {
        display: block;
    }

    .eventmainIme {
        max-width: initial !important;
        min-width: initial !important;
        width: 100%;
    }
}