.ServicesTabOneManContainer{
    position: relative;
    overflow: hidden;
}

.ServicesTabOneManContainer .ServicesTabOnebackground{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ServicesTabOneManContainer .ServicesTabOneStepsContainer{
    position: relative;
    z-index: 10;
    display: flex;  
}

.ServicesTabOneManContainer .ServicesTabOneTabContainer{
    position: relative;
    width:384px;
    flex: 1;
    max-width: 384px;
}

.ServicesTabOneManContainer .ServicesTabOneTabContainer .MuiButtonBase-root{
    display: block;
    width: 100%;
    max-width: initial;
    padding-left: 60px;
    overflow: visible;
}

.ServicesTabOneManContainer .ServicesTabOneTabContainer .MuiButtonBase-root .MuiTab-wrapper {
    height: 23px;
    border-radius: 4px;
    position: relative;
    right: -12px;
    color: #fff;
    display: block;
    text-align: left;
    padding: 10px 20px;
    width: 272px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.ServicesTabOneManContainer .ServicesTabOneTabContainer .MuiButtonBase-root .MuiTab-wrapper .MuiSvgIcon-root {
    position: absolute;
    left: -31px;
    top: 13px;
    border: #fff 1px solid;
    border-radius: 100px;
    width: 15px;
    height: 15px;
    z-index: 1;
}

.ServicesTabOneManContainer .Mui-selected .MuiTab-wrapper .MuiSvgIcon-root {
    color: #fff !important;
    border: #fff 1px solid !important;
    background: #fff !important;
}


.ServicesTabOneManContainer .ServicesTabOneTabContainer .Mui-selected .MuiTab-wrapper{
    background: #fff;   
}

.ServicesTabOneManContainer .ServicesTabOneTabContainer .Mui-selected .MuiTab-wrapper:after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 20px;
    height: 20px !important;
    border-radius: 2px;
    transform: rotate(-45deg);
    margin-top: 1px;
    right: -5px;
}





.ServicesTabOneTabContainer .MuiButtonBase-root .MuiTouchRipple-root {
    position: absolute;
    background-color: #ffffff;
    width: 1px;
    height: 100% !important;
    left: 49px;
    top: 0px;
}

.ServicesTabOnePanelContainer{
    padding: 50px;
    flex: 1;
}

.ServicesTabOnePanelContainer .ServicesTabOnePanelInnerContainer {
    background: #fff;
    padding: 33px;
    max-height: 310px;
    overflow-y: auto;
    border-radius: 4px;
}

.ServicesTabOnePanelInnerContainer h1{
    margin: 0;
    color: #0B132B;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.ServicesTabOnePanelInnerContainer p{
    color: #676C7B;
    font-size: 14px;
    font-weight: 400;
}

.ServicesTabOneManContainer .MuiTabs-indicator {
    display: none  !important;
}

.ServicesTabOneManContainer .MuiTabs-root {
    overflow: visible;
    padding-top: 50px;
    padding-bottom: 50px;
}
.ServicesTabOneManContainer .MuiTabs-scrollable {
    overflow-x: initial;
    scrollbar-width: none;
}

.ServicesTabOneManContainer .MuiTab-labelIcon {
    min-height: initial;
    padding-top: 0;
}