.PageNotFoundContainer{
    padding:80px 124px;
}

.PageNotFoundContainer .PageNotFoundTitle{
    color:#1B2121;
    font-size:34px;
    text-align:center;
    font-weight:700;
}


.PageNotFoundContainer .PageNotFounddDescription{
    color:#828282;
    font-size:14px;
    text-align:center;
    font-weight:400;
    letter-spacing:0;
    padding-top:16px;
    max-width:530px;
    margin:0 auto;
    line-height:28px;
}

.PageNotFoundContainer .PageNotFounddDescription a{
    font-weight:600;
    text-decoration: underline;
}

.PageNotFoundContainer .PageNotFounddButtonContainer{
    text-align:center;
    margin-top:40px;
}

@media (max-width: 500px){
    .PageNotFoundContainer {
        padding: 30px 24px;
    }
}