.CTATwo{
    position: relative;
    border-radius: 4px;
    border: #E4E8EC 1px solid;
}

.CTATwo .DonationCardTwoIconContainer{
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.DonationCardTwoInfoContainer{
    padding: 20px;
}

.CTATwo h2{
    color: #0A2540;
    font-size: 34px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    margin: 0;
}


.CTATwo a{
    display: flex;
    font-size:14px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin-top: 20px;
}

.CTATwo a svg {
    font-size: 19px;
    margin-left: 4px;
    position: relative;
    top: 1px;
}