.BlogOneMainContainer .BlogOneinfoContainer h1{
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 21px;
    font-family: 'Roboto', sans-serif;
}

.BlogOneMainContainer .BlogOneinfoContainer h2{
    font-size: 34px;
    line-height: 40px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
}


.BlogOneMainContainer .BlogOneinfoContainer p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
}