.CardFiveMainContainer {
    width: 350px;
    height: 264px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E4E8EC;
    opacity: 1;
    display: inline-block;
}

.CardFiveMainContainer:hover {
    box-shadow: 0px 12px 17px #00000017;
    transition: all 1s ease 0s;
}

.CardFiveTitleContainer {
    width: auto;
    background: #635BFF url('./EventPattern.png') 0% 0% padding-box;
    opacity: 1;
    padding: 20px;
}

.CardFiveTitle {
    text-align: left;
    font: normal normal bold 20px/28px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0px;
    padding: 0px;
}

.CardFiveRow {
    display: flex;
}
  
.CardFiveLeftColumn {
    flex: 45%;
    background: #A4A7B0 0% 0% no-repeat padding-box;
    opacity: 1;
}

.CardFiveRightColumn {
    flex: 55%;
    padding: 16px;
}

.CardFourEventDate {
    text-align: left;
    font: normal normal bold 20px/24px Poppins;
    letter-spacing: 0px;
    color: #56B149;
    opacity: 1;
    padding-right: 8px;
    margin: 0px;
}

.CardFiveEventDate {
    text-align: left;
    font: normal normal normal 14px/20px Poppins;
    letter-spacing: 0px;
    color: #0A2540;
    opacity: 1;
    margin: 0px 0px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.CardFiveEventDate svg {
    text-align: left;
    font: normal normal normal 14px/20px Poppins;
    letter-spacing: 0px;
    color: #0A2540;
    opacity: 1;
    margin-right: 8px;
}

.CardFiveEventTime {
    text-align: left;
    font: normal normal normal 14px/20px Poppins;
    letter-spacing: 0px;
    color: #0A2540;
    opacity: 1;
    margin: 0px 0px 52px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.CardFiveEventTime svg {
    text-align: left;
    font: normal normal normal 14px/20px Poppins;
    letter-spacing: 0px;
    color: #0A2540;
    opacity: 1;
    margin-right: 8px;
}

.CardFiveViewDetails {
    text-align: left;
    font: normal normal 600 14px/24px Poppins;
    letter-spacing: 0.56px;
    color: #676C7B;
    text-transform: capitalize;
    opacity: 1;
    margin: 0px 0px 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.CardFiveMainContainer:hover .CardFiveViewDetails {
    color: #635BFF;
    transition: all 1s ease 0s;
}

.CardFiveViewDetails svg {
    text-align: left;
    font: normal normal bold 14px/24px Poppins;
    letter-spacing: 0.56px;
    color: #676C7B;
    opacity: 1;
    margin-left: 8px;
}

.CardFiveMainContainer:hover .CardFiveViewDetails svg {
    color: #635BFF;
    transition: all 1s ease 0s;
}

