.SliderFour{
    position: relative;
}

.SliderFour .carousel .thumbs-wrapper {
    margin: 0 !important;
    overflow: hidden;
}

.SliderFour .bannerContentsWrapper {
    width: 100%; 
}

.SliderFour .bannerContentsContainer{
    

}

.SliderFour .bannerContentsBG {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 1;
}

.SliderFour .carousel .slide .bannerContents {
    position: absolute;
    z-index: 99;
    padding: 30px;
    left: 0;
    bottom: 60px;
}

.SliderFour .bannerContents h1 a {
    display: block;
    color: #fff;
    padding: 0px;
    font-size: 28px;
    text-align: left;
    margin: 0;
    font-weight: 600;
    max-width: 650px;
}

.SliderFour .bannerContents .SldierReadBtn{
    text-align: left;
}

.SliderFour .bannerContents .SldierReadBtn a {
    color: #fff;
    font-size: 14px;
    text-align: left;
    margin: 0;
    font-weight: 500;
    display: inline-block;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 999;
    margin-top: 20px;
    text-transform: uppercase;
    padding: 10px 26px;
    padding-bottom: 13px;
    
}

.SliderFour .bannerContents .SldierReadBtn a svg {
    color: #fff;
    font-size: 19px;
    position: relative;
    left: 5px;
    top: 4px;
}

.SliderFour .control-dots{
    display: none;
}

.SliderFour .carousel .control-next.control-arrow {
    color: #fff;
    font-size: 26px;
    margin-top: 0;
    padding: 5px;
    width: 34px;
    height: 34px;
    right: 90px !important;
    bottom: 10px;
    position: absolute;
    opacity: 1;
    background: transparent !important;
    left: auto;
    top: auto;
}

.SliderFour .carousel .control-prev.control-arrow  {
    color: #fff;
    font-size: 26px;
    margin-top: 0;
    padding: 5px;
    width: 34px;
    height: 34px;
    right: 50px !important;
    bottom: 10px;
    position: absolute;
    opacity: 1;
    background: transparent !important;
    left: auto;
    top: auto;
}

.SliderFour .control-prev:before {
    background:#A0CE4E url(./arrow-next.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    border-radius: 0;
    background-position: 5px 5px;
}

.SliderFour .control-next:before {
    background:#A0CE4E url(./arrow-prev.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    border-radius: 0;
    background-position: 5px 5px;
}
 .carousel .carousel-status{
    display: none;
}

.SliderFour .BottomTextSlider {
    position: absolute;
    bottom: 0;
    background: #000;
    width: 100%;
    left: 0;
    min-height: 44px;
    color: #fff;
    display: flex;
    align-items: center;
    text-indent: 30px;
    font-size: 17px;
}

.SliderFour .carousel .slide img {
    width: 100%;
    object-fit: cover;
}

@media (max-width:768px){
    .SliderFour  .bannerContentsWrapper {
        position: relative;
    }

    .SliderFour  .bannerContentsBG {
        opacity: 1;
    }
    .SliderFour  .bannerContents h1 {
        font-size: 20px;
    }

}