@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.SalatTableContainer .SalatTaleTitle{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    height: 50px;
    display: flex;
    align-items: center;
}

.SlatTableFooter{
    color: #676C7B;
    font-size: 12px;
    font-style: italic;
    padding: 0px 25px ;
    padding-bottom: 20px;
}

.SalatTableContainer  .MuiPaper-elevation1 {
    box-shadow: none;
}

.SalatTableContainer .SlatNmaeCtn{
    display: flex;
    align-items: center;
}

.SalatTableContainer .SlatNmaeCtn img{
    width: 24px;
    margin-right: 8px;
}