.LinkCardMainContainer {
    background-color: #56b149;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
    display: block;

    
  }

  .LinkCardMainContainer:hover{ 
      text-decoration: none !important ;
    }

.LinkCardMainContainer .LinkCararrow{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .LinkCardMainContainer .LinkCarTitle {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    max-width: 160px;
    line-height: 24px;
    font-family: 'Poppins';
  }

  .LinkCardMainContainer .LinkCarTitle:hover{ text-decoration: none !important }

  .LinkCardMainContainer .SingleImg {
    width: 76px;
    height:76px;
  }

  .LinkCardMainContainer .LinkCarTitleContainer{
    display: flex;
    justify-content: space-between;
  }

  .LinkCardMainContainer .AvatarGroup{
    margin-top: 15px;
  }