.TextFieldMainContainer{
    position: relative;
}

.TextFieldMainContainer .Count{
    position: absolute;
    right: 0;
}

.TextFieldMainContainer  .countText{
    color: #B0B9C1;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.TextFieldMainContainer .TooltipContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 8px;
}
 
.TextFieldMainContainer .TooltipTitle{
    color: #4C5E67;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.TextFieldMainContainer .TooltipTitle .TooltipInfo{
    opacity: 0;
    position:absolute;
    width:300px;
    background:#fff;
    border:#e2e2e2 1px solid;
    top:-30px;
    right:-340px;
    padding:12px;
    border-radius:4px;
    transition: 0.3s;
}

.TextFieldMainContainer .TooltipTitle:hover .TooltipInfo{
    opacity: 1;
}


.TextFieldMainContainer .TooltipImg{
    position: relative;
    top: 5;
    width: 20px;
}

/* .TextFieldMainContainer .inputHover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
    border-color: #E4E8EC;
    border-width: 2px;
}

.TextFieldMainContainer .inputHover:hover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
    border-color: #E4E8EC;
    border-width: 2px;
} 


.TextFieldMainContainer .inputHover .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #2A8853;
    border-width: 2px;
}

.TextFieldMainContainer .inputHover .MuiOutlinedInput-input{
    color: #1B2121;
    border-width: 2px;
}

.TextFieldMainContainer .inputHover .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input{
    color: #1B2121;
    border-width: 2px;
}
.TextFieldMainContainer .inputHover .MuiInputLabel-outlined{
    color: #B0B9C1;
    border-width: 2px;
}
.TextFieldMainContainer .inputHover:hover .MuiInputLabel-outlined{
    color: #B0B9C1;
    border-width: 2px;
} 
.TextFieldMainContainer .inputHover .MuiInputLabel-outlined.Mui-focused{
    color: #2A8853;
    border-width: 2px;
}
.TextFieldMainContainer .inputHover .MuiFormHelperText-root{
    position:absolute;
    bottom:-21px;
} 
.TextFieldMainContainer .inputHover .MuiOutlinedInput-input{
    padding:18.5px 14px;
}  */

.TextFieldMainContainer .TooltipInfoTitle{
    color: #4C5E67;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.TextFieldMainContainer .TooltipInfoDes{
    color: #4C5E67;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}




