@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.FooterThreeMainContainer{
    padding: 20px 0px;
}

.FooterThreeMainContainer .FooterThreeContainer{
    margin: 0 auto;
    padding: 0 25px;
}

.FooterThreeMainContainer .FooterThreeRowOne{
   
}


.FooterThreeMainContainer .FooterThreeOrgTitle{
    font-size: 20px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 12px;
}

.FooterThreeMainContainer  .FooterThreeOrgParagraph{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    margin: 0 !important;
}

.FooterThreeMainContainer .FooterThreeListinCol {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.FooterThreeMainContainer .FooterThreeListinCol .FooterThreeListingInfo {
    padding-bottom: 20px;
    width: 90%;
}

.FooterThreeMainContainer  .FooterThreeListinCol .FooterThreeListingInfo .FooterThreeListingTitle{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 6px;
    line-height: 20px;
}

.FooterThreeMainContainer  .FooterThreeListinCol .FooterThreeListingInfo .FooterThreeListingSubTitle{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 16px;
    opacity: 0.6;
}

.FooterThreeMainContainer .FooterThreeListinCol .FooterThreeListingIcon {
    margin-right: 14px;
    position: relative;
    top: -2px;
}

.FooterThreeMainContainer .FooterThreeSocial {
    display: flex;
    align-items: center;
    justify-content: end;
}

.FooterThreeMainContainer .FooterThreeSocial a {
    min-width: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-right: 12px;
}

.FooterThreeMainContainer .FooterThreeSocial a img{
    width: 56px;
}

.FooterThreeMainContainer .FooterThreeBorder{
    margin-top: 10px;
    margin-bottom: 10px;
}

.FooterThreeMainContainer .FooterThreeRowTwo{
    margin-top: 30px;
}

.FooterThreeMainContainer .FooterThreeRowTwo .FooterThreeListingContactInfo .FooterThreeListingTitle{
    font-size:14px;
    font-weight: 400;
    margin-bottom: 4px;
}

.FooterThreeMainContainer .FooterThreeRowTwo .FooterThreeLocatioIcon{
    text-align: left;
    margin-left: 35px;
}

.FooterThreeHelping {
    background: #fff;
    max-width: 445px;
}

.FooterThreeMainContainer .FooterThreeListinCol:last-child {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0px !important;
}

/* .FooterThreeColform .MuiInputLabel-outlined{
    color: #fff;
} */

.FooterThreeColSubText {
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 17px;
    font-family: 'Poppins', sans-serif;
}

.FooterThreeTopLeft {
    display: flex;
    align-items: center;
}

.FooterThreeTopLeft img{
    height: 100px;
    width: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.FooterThreeLink a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;
    display: block;

}

.FooterThreeColTitle{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.FooterThreeColTitleBottom{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #4267B2;
    margin: 0;
}

.FooterThreeMainContainer .PrivacySection{
    
}

.FooterThreeMainContainer .PrivacySection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FooterThreeMainContainer .PrivacySection a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
}

.FooterThreeMainContainer .PrivacySection a:hover{
    text-decoration: underline;
}

.FooterThreeMainContainer .PrivacySection span{
    display: inline-block;
    margin: 0 15px;
    opacity: 0.6;
}

.FooterThreeMainContainer .PrivacySectionRight{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
}

.FooterThreeMainContainer .logoBottom {
    padding: 20px;
    background: #fff;
}

.FooterThreeMainContainer .logoBottom img{
    max-width: 56px;
    max-height: 56px;
}

.FooterThreeMainContainer .BottomBtnCtn{
    background: #F5F6F7;
    padding: 20px;
}
