.SocialMediaOne{
    margin: 0 -4px;
}


.SocialMediaOne .CopyLink{
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.SocialMediaOne .CopyLink svg{
    margin-right: 8px;
}

.SocialMediaOne .SocialCtn{
    display: flex;
    align-items: center;
}

.SocialMediaOne .SocialCtn a {
    margin: 0 4px;
    display: flex;
    font-size:14px;
    font-weight: 500;
}

