@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.TableWithTabsContainer{
    
}

.TableWithTabsContainer .MuiTableContainer-root {
    width: 100%;
    overflow-x: initial;
}

.TableWithTabsContainer .pricingTitle h1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    padding: 3px;
}
.TableWithTabsContainer .pricingTitle{
   
}

.TableWithTabsContainer .MuiTableCell-root{
    padding: 0 !important;
}

.TableWithTabsContainer .pricingTitleBottomBody {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TableWithTabsContainer .pricingTitleBottomBody h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}

.TableWithTabsContainer .pricingTitleBottomBody h2 span {
    text-align: center;
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    position: relative;
    top: -18px;
    text-align: right;
    right: -9px;
}

.TableWithTabsContainer .pricingTitleBottomBody p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}

.TableWithTabsContainer .priceSelectButton {
    color: #fff;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    padding: 13px 60px;
}

.TableWithTabsContainer .priceSelectButton:hover {
    text-decoration: none;
}

.TableWithTabsContainer .blueTheme{
    background: #0590fa;
}

.TableWithTabsContainer .blueTheme .prTitleName{
    background: #0585e6;
}

.TableWithTabsContainer .blueTheme .priceSelectButton {
    background: #0590fa;
    border: #7dc5fc 1px solid;   
}

.TableWithTabsContainer .greenTheme{
    background: #06d02f;
}

.TableWithTabsContainer .greenTheme .prTitleName{
    background: #06c02b;
}

.TableWithTabsContainer .greenTheme .priceSelectButton {
    background: #06c02b;
    border: #7ee793 1px solid;
}

.TableWithTabsContainer .greyTheme{
    background: #7785cd;
}

.TableWithTabsContainer .greyTheme .prTitleName{
    background: #6e7bbd;
}

.TableWithTabsContainer .greyTheme .priceSelectButton {
    background: #7785cd;
    border: #b9c0e5 1px solid;
}

.TableWithTabsContainer .GreemButton {
    background: #06c02b;
    border: #7ee793 1px solid;
}

.TableWithTabsContainer .GreyButton {
    background: #7785cd;
    border: #b9c0e5 1px solid;
}

.TableWithTabsContainer .BlueButton {
    background: #0590fa;
    border: #7dc5fc 1px solid;   
}

.TableWithTabsContainer .PricingPackageTitleContainer{
    width: 329px;
    padding: 0 30px;
}
.TableWithTabsContainer .PricingPackageTitleContainer h3 {
    font-size: 45px;
    line-height: 49px;
    margin: 20px 0;
}

.TableWithTabsContainer .PricingPackageTitleContainerTh{
    vertical-align: baseline;
}

.TableWithTabsContainer .PricingPackageTitleContainer .Tax_text {
    color: #7a7f8c;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.TableWithTabsContainer .PricingPackageTitleContainer .Tax_text svg {
    color: #31a347;
    font-size: 30px;
    margin-right: 6px;
}

.TableWithTabsContainer .MuiTableCell-body {
    padding: 15px 20px !important;
}

.TableWithTabsContainer .MuiTableCell-root {
    border-bottom: 1px solid #f1f3f5 !important;

}

.TableWithTabsContainer .PrcInfoIcon{
    color: #d3d4d9;
    float: right;
}

.TableWithTabsContainer .tableCheckIcon{
    color: #56B149;
}

.TableWithTabsContainer .leftAling{
    float: none !important;
}

.TableWithTabsContainer .TextWithIcon{
    display: flex;
    align-items: end;
    color: #676C7B;
    font-weight: 400;
}

.TableWithTabsContainer .TextWithIcon svg{
    margin-right: 10px;
}

@media(max-width: 990px){
    .TableWithTabsContainer .MuiTableContainer-root {
        width: 100%;
        overflow-x: auto;
    }
}

.TableWithTabsTabContainer{}

.TableWithTabsTabContainer .MuiTabs-indicator{
    display: none;
}

.TableWithTabsTableTitle{
    font-size: 34px;
    font-weight: 700;
    color: #1B2121;
}

.TableWithTabTitleandTabContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}


.TableWithTabTitleandTabContainer .MuiTab-textColorPrimary.Mui-selected {
    color: #fff;
    background: #56B149;
}

.TableWithTabTitleandTabContainer .MuiAppBar-colorDefault {
    background-color: #FCFCFC;
    box-shadow: none;
    
}

.TableWithTabTitleandTabContainer  .MuiTab-root{
    font-family: 'Poppins', sans-serif;
    color: #4D4D4D;
    font-weight: 500;
}

.TableWithTabTitleandTabContainer .MuiAppBar-colorDefault:first-child {
    border-radius: 4px 0 0 4px;
}

.TableWithTabTitleandTabContainer .MuiTab-textColorPrimary.Mui-selected:first-child {
    border-radius: 4px 0 0 4px;
}

.TableWithTabTitleandTabContainer .MuiAppBar-colorDefault:last-child {
    border-radius: 0px 4px 4px 0px;
}

.TableWithTabTitleandTabContainer .MuiTab-textColorPrimary.Mui-selected:last-child {
    border-radius: 0px 4px 4px 0px;
}

.TableWithTabsContainer .MuiTableCell-head{
    background: #F7F9FA;
    padding: 10px 20px !important;
}

.TableWithTabsContainer .MuiTableCell-head {
    background: #F7F9FA;
    padding: 10px 20px !important;
}

.TableWithTabsContainer .MuiTableCell-head .Tablehead{
    color: #4C5E67;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.TableWithTabsContainer .MuiTableRow-root:hover{
    background-color: #56B149;
}

.TableWithTabsContainer .MuiTableCell-body {
    color: #0B132B;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.TableWithTabsContainer .MuiTableRow-root:hover .MuiTableCell-body{
    color: #fff;
}
.TableWithTabsContainer  .MuiTableRow-root{
    background: #fff;
}

.TableCellContainer{
    display: contents;
}

.tableButton{
    min-width: 126px;
}