.CardFifteen .CardFifteenInfoContainer{
    text-decoration: none !important;
    cursor: pointer;
}


.CardFifteen .CardFifteenInfoContainer .CardFifteenavatar {
    min-height: 250px;
    overflow: hidden;
    position: relative;
}

.CardFifteen .CardFifteenInfoContainer .CardFifteenavatar img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    height: 100%;
}

.CardFifteen .CardFifteenInfoContainer .CardFifteenhover_over{
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.CardFifteen .CardFifteenInfoContainer .CardOneboxed-grey:hover .CardFifteenhover_over{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.73;
	
	
}

.CardFifteen .CardFifteenInfoContainer .CardFifteenDetails{
	padding: 20px;
}

.CardFifteen .CardFifteenInfoContainer .CardFifteenDesBox{
    padding: 20px 0px;
    padding-bottom: 0;
}

.CardFifteen .CardFifteenInfoContainer .CardFifteenDetails h2 {
    font-size: 20px;
    margin: 0 !important;
}


.CardFifteen .CardFifteenInfoContainer .CardFifteenreadmore {
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    text-decoration: none;
}


.CardFifteen .CardFifteenInfoContainer .CardFifteenreadmore svg{
	font-size: 15px !important;
	margin-left: 4px;
}

.CardFifteen .CardFifteenInfoContainer .CardFifteenboxed-grey:hover {
  box-shadow: -1px 9px 23px -7px hsla(0, 0%, 0%, 0.45);
  transition: all 1s ease 0s;
}

.CardFifteen .bottomLine{
    height: 4px;
}

.border{
    border: #E4E8EC 1px solid;
}


.CardFifteenTwo{
    padding-top: 20px;
}

.CardFifteen .CardFifteenTopSec{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CardFifteen .CardFifteenTopSec h4{
    font-size: 14px;
    font-weight: 400;
}

.CardFifteenTopSec span{
    background: #fff;
    padding: 5px;
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
}

.CardFifteenTopSec span img{
    width: 30px;
    margin-right: 5px;
}

