
.TitleOneContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 27px;
    align-items: center;
}

  .TitleOneContainer .TitleOneTextContainer {
    color: hsl(0, 0%, 11%);
    font-size: 28px;
    font-weight: normal;
    text-align: left;
    text-transform:uppercase;
    position: relative;
    margin: 0;
  }
  
  .TitleOneContainer .TitleOneReadMoreBtn {
    border-radius: 4px !important;
    color: hsl(0, 0%, 20%) !important;
    font-size: 14px !important;
    height: 50px;
    letter-spacing: 1px !important;
    text-align: center;
    text-transform: uppercase !important;
	font-weight: 700 !important;
	padding: 0 24px !important;
}

.TitleOneContainer .read_more_btn svg {
    font-size: 15px;
    margin-left: 3px;
    position: relative;
    top: -1px;
}

.TitleOneContainer .read_more_btn:hover{
	background:#0053a5 !important;
	border: 1px solid #0052a5 !important;
	color:#FFF !important;
}

.TitleOneContainer .TitlOneeLineContainer{
    height: 4px;
    background: #D2D3D8;
    max-width: 100px;
    margin-top: 13px;
}

.TitleOneContainer .TitlOneeLine{
    height: 4px;
    width: 50px;
    display: block;
}

@media (max-width: 768px){
    .TitleOneContainer{
        display: block;
    }

    .TitleOneContainer .TitleOneTextContainer{
        margin-bottom: 20px;
    }
}