.CardThreeMainContainer {
    width: 243px;
    height: 464px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E4E8EC;
    opacity: 1;
    cursor: pointer;
    padding: 6px;
    display: inline-block;
}

.CardThreeMainContainer:hover {
    box-shadow: 0px 12px 17px #00000017;
    transition: all 1s ease 0s;
}

.CardThreeImageContainer {
    height: 314px;
    background: #627FFF 0% 0% no-repeat padding-box;
    opacity: 1;
	overflow: hidden;
    position: relative;
}

.CardThreeDateTime {
    width: 223px;
    height: 44px;
    background: #A0CE4E 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    opacity: 1;
    padding: 10px;
    border: none;
    display: flex;  
    align-items: center;
    justify-content: left;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.CardThreeEventText {
    letter-spacing: 1px;
    font: normal normal normal 14px/30px Poppins;
    margin-left: 10px;
}

.CardThreeInfoContainer {
    /* Layout Properties */
    height: 120px;
    /* UI Properties */
    background: transparent none repeat scroll 0 0;
    padding: 10px;
}

.CardThreeHeading {
    margin: 0px;
    color: #444444;
    font: normal normal 600 20px/24px Poppins;
}

.CardThreeReadMoreText {
    color: hsl(0, 0%, 20%);
    display: flex;
    font: normal normal bold 14px/24px Poppins;
    margin-right: 19px;
    padding-bottom: 8px;
    text-align: left;
    width: 120px;
    text-decoration: none;
    align-items: center;
    margin-top: 18px;
    color: #444444; 
}

.CardThreeReadMoreText svg{
    font: normal normal bold 14px/24px Poppins;
	margin-left: 4px;
}

.CardThreeMainContainer:hover .CardThreeReadMoreText {
    color: #A0CE4E;
    transition: all 1s ease 0s;
}